*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html, body {
    height: 30px;
    width: 100%;
   min-height: 500px;
}
.container{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
    padding-top:0;
    height: 400px;
    background-image: url(./images/pattern-bg.png);
    
}
#info-container-title
{
    margin: 10px;
    padding: 10px;;
    
}

#info-container-search{
    height: 50px;
    border: 8px;
    border-radius: 8px;
    flex-direction: row;  
}
#searchBox{
    
    
}

#info-container-search{
    display:flex;
    margin:auto;
    padding: 40px;;
    height:100px;
    flex-direction: row;
    border: 10px;
    border-radius: 10px;
}

.info-container{
    display: flex;
    background-color: beige;
    border: 10px;
    border-radius: 10px;
    width: 80%;
    height: 50%;
    padding:0;
    margin: 10px;
    align-items: center;

}
  